<div class="owner-properties">
    <h1 class="owner-properties__title">{{ 'Listings published by'|trans }} {{ instance.familyName }}</h1>
        
    <div class="owner-properties__content">

        <div class="owner-properties__listing-section">

            {% for space in instance.owners %}
            <div class="owner-properties__item">
                
                <a href="{{ path('public_property_details', {'id': space.id}) }}" class="owner-properties__avatar">
                    {% if space.image.first %}
                        
                        <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ space.image.first.imagePath) }}" alt="">
                    
                    {% endif %}
                </a>
                
                {% if app.user %}
                    <button class="owner-properties__button" data-user-id="{{ app.user.id }}" data-space-id="{{ space.id }}"></button>
                {% endif %}
                
                <p class="owner-properties__address">
                    <span>{{ space }} </span>
                    {{ '- Strret'|trans }} {{ space.adresse.street }} {{ space.adresse.streetNumber }}, {{ space.adresse.postalCode }} {{ space.adresse.city }}
                </p>
            
            </div>
            {% endfor %}

        </div>

        {{ form_start(form, {'attr': {'class': 'owner-properties__contact-section' }}) }}

            {{ form_row(form.content, {
                'label': 'Vous avez des questions ? Contactez '|trans ~ instance.familyName,
                'label_attr': {'class': 'owner-properties__subtitle'},
                'attr': {'class': 'owner-properties__textarea'}
            }) }}

            <button>{{ 'Send a Message'|trans }}</button>
        {{ form_end(form) }}

    </div>
</div>