<div class="owner-properties">
    <h1 class="owner-properties__title">Annonces publiées par {{ instance.familyName }}</h1>
        
    <div class="owner-properties__content">

        <div class="owner-properties__listing-section">

            {% for space in instance.owners %}
            <div class="owner-properties__item">

                <!-- Module de présentation -->
                {% if space.ownedByUser.id < 8 %}
                
                <a href="{{ path('public_property_details', {'id': space.id}) }}" class="owner-properties__avatar">
                    <img src="{{ asset('assets/uploads/Archives/Spaces/test/' ~ space.type|replace({' ': '_'}) ~ '/' ~ random(1, 10) ~ '.jpg') }}" alt="">
                </a>
                
                {% else %}
                
                <a href="{{ path('public_property_details', {'id': space.id}) }}" class="owner-properties__avatar">
                    <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ space.image.first.imagePath) }}" alt="">
                </a>
                {% endif %}
                
                {% if app.user %}
                <button class="owner-properties__button" data-user-id="{{ app.user.id }}" data-space-id="{{ space.id }}"></button>
                {% endif %}
                
                <p class="owner-properties__address">
                    <span>{{ space }} </span>
                    - Rue {{ space.adresse.street }} {{ space.adresse.streetNumber }}, {{ space.adresse.postalCode }} {{ space.adresse.city }}
                </p>
            
            </div>
            {% endfor %}

        </div>

        {{ form_start(form, {'attr': {'class': 'owner-properties__contact-section' }}) }}

            {{ form_row(form.content, {
                'label': 'Vous avez des questions ? Contactez ' ~ instance.familyName,
                'label_attr': {'class': 'owner-properties__subtitle'},
                'attr': {'class': 'owner-properties__textarea'}
            }) }}

            <button>{{ button_label|default('Envoyer un message') }}</button>
        {{ form_end(form) }}

    </div>
</div>