{% extends "owner_reservations/index.html.twig" %}

{% block heading %}Reservations{% endblock heading %}

{% block content %}

<div class="resa">
    {% for resa in reservations %}

    <div class="card-ticket">
        <div class="card-ticket__content">

            <div class="card-ticket__inner">
                <!-- Première partie : Image et informations sur l'espace -->
                <div class="card-ticket__section">
                    <div class="card-ticket__media">
                        <a href="{{ path('public_property_details', {'id': resa.space.id}) }}" class="card-ticket__image-link">
                            {% if resa.space.image.first %}
                                <img src="{{ asset('assets/uploads/' ~ resa.space.file ~ '/' ~ resa.space.image.first.imagePath) }}" alt="">
                            {% else %}
                                <img src="{{ asset('images/icones/download.svg') }}" alt="">
                            {% endif %}
                        </a>
                    </div>
                    
                    <div class="card-ticket__info">
                        <p class="card-ticket__title">{{ resa.space.content.titleFr|capitalize }}</p>
                        <p class="card-ticket__address">{{ resa.space }} {{ resa.space.adresse.first }} </p>
                        <p class="card-ticket__price">{{ resa.space.price }} €</p>
                        <p class="card-ticket__surface">{{ resa.space.surface }} m<sup>2</sup> </p>
                        <p>Date du : {{ resa.dateStart|date('d-m-Y') }} au {{ resa.dateEnd|date('d-m-Y') }}</p>
                    </div>
                    
                    <div class="card-ticket__status">
                        <p>{{ resa.status|capitalize }}</p>
                    </div>
                </div>
                
                <!-- Deuxième partie : Lien pour modifier -->
                <div class="card-ticket__section">
                    <p>TOTAL</p>
                    <p>{{ resa.price }} €</p>
                </div>
                
            </div>
            
            <!-- Troisième partie : Numéro de réservation -->
            <p class="card-ticket__reservation-number">Numéro de réservation : {{ resa.reference }}p>
            
        </div>
    </div>  
    
    {% endfor %}
</div>
    
{% endblock content %}