<div class="home__navbar-container">

    <ul class="home__navbar-category--list">
        {% for category in categories %}
        <li class="home__navbar-category-item">
            <img src="{{ asset('images/icones/' ~ category|lower|replace({' ': '_'}) ~ '.svg') }}" alt="Icone {{ category }}">
            {{ category }}
        </li>
        {% endfor %}
    </ul>

    <button class="home__navbar-filters">
        <img src="{{ asset('images/icones/filtres.svg') }}" alt="">
        <span>{{ 'Filtres'|trans }}</span>
    </button>

</div>