<div class="home__navbar-container">

    <div class="home__navbar-category--list">
        {% for type in spaceTypes %}
        <button class="home__navbar-category-item" id="btn-filter" data-type-id="{{ type.id }}">
            <img src="{{ asset('images/icones/' ~ type|lower|replace({' ': '_'}) ~ '.svg') }}" alt="Icone {{ type }}">
            {{ type }}
            {# {{ dump(type|lower|replace({' ': '_'})) }} #}
        </button>
        {% endfor %}
    </div>

    <button class="home__navbar-filters">
        <img src="{{ asset('images/icones/filtres.svg') }}" alt="">
        <span>{{ 'Filtres'|trans }}</span>
    </button>

</div>