{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/masthead.js') }}" defer></script>
<script src="{{ asset('js/favori.js') }}" defer></script>
{% endblock %}

{% block body %}
<main class="home">
    <div class="home__container">

        <header class="home__header">
            <div class="home__header-container">

                <ul class="home__category-list">
                    {% for category in categories %}
                    <li class="home__category-item">
                        <img src="{{ asset('images/icones/' ~ category|lower|replace({' ': '_'}) ~ '.svg') }}" alt="Icone {{ category }}">
                        {{ category }}
                    </li>
                    {% endfor %}
                </ul>

                <button class="home__filters-btn">
                    <img src="{{ asset('images/icones/filtres.svg') }}" alt="">
                    <span>{{ 'Filtres'|trans }}</span>
                </button>

            </div>
        </header>

        <section class="home__spaces">
            <div class="home__spaces-container">

                {% for space in allSpaces ? allSpaces : [] %}
                    {% include "components/_card-space.html.twig" %}
                {% endfor %}

            </div>
        </section>

    </div>
    {{ dump(app.user.content) }}
</main>
{% endblock %}
