<section class="space-detail__host">
    <h2 class="title">Faites connaissance avec {{ host.familyName }}</h2>

    <div class="space-detail__host-content">
        <a href="{{ path('public_owner_profile', {'id': host.id}) }}" class="space-detail__host-link">
            <img src="{{ asset('assets/uploads/Archives/Photos/' ~ host.id ~ '/Profile/' ~ host.image.imagePath) }}" alt="Image de profile">
        </a>

        <article class="space-detail__host-profile">
            <h3 class="space-detail__host-profile__title">
                <a href="{{ path('public_owner_profile', {'id': host.id}) }}">{{ host.familyName|capitalize }}  {{ host.givenName|capitalize }}</a>
            </h3>
            <div class="space-detail__host-profile__desciption">
                {{ host.content.getDescriptionBasedOnLanguage(host.language)|capitalize }}
            </div>
        </article>

        <article class="space-detail__host-details">
            <div class="space-detail__host-details__labels">
                <p>Notes globale :</p>
                <p>Nombres d’évaluations :</p>
                <p>Années d’expérience :</p>
                <p>Statut :</p>
                <p>Email :</p>
                <p>Téléphone :</p>
                <p>Langues :</p>
                <p>Taux de réponse :</p>
                <p>Délai de réponse :</p>
            </div>
            <div class="space-detail__host-details__values">
                <p>****</p>
                <p>****</p>
                {% set duration = host.calculateYearsAndMonthsSinceRegistration %}
                <p>{{ duration[0] }} {{ duration[1] }}</p>
                <p>{{ host.status }}</p>
                <p>{{ host.email }}</p>
                <p>{{ host.phoneNumber }}</p>
                <p>{{ host.language }}</p>
                <p>****</p>
                <p>****</p>
            </div>
        </article>
    </div>
</section>