{% extends 'base.html.twig' %}

{% block title %}Hello OwnerProfileController!{% endblock %}

{% block body %}
<main class="owner-detail">
    <div class="container">

        <section>
            <h2>Information sur {{ user.familyName }}</h2>
            <div class="content">
                <a href="{{ path('public_owner_profile', {'id': user.id}) }}" class="avatar">
                    
                </a>
                <article>
                    <h3><a href="{{ path('public_owner_profile', {'id': user.id}) }}">{{ user }}</a></h3>
                    <div>
                        
                    </div>
                </article>
                <article>
                    <div>
                        <p>Notes globale :</p>
                        <p>Nombres d’évaluations :</p>
                        <p>Années d’expérience :</p>
                        <p>Statut :</p>
                        <p>Email :</p>
                        <p>Téléphone :</p>
                        <p>Langues :</p>
                        <p>Taux de réponse :</p>
                        <p>Délai de réponse :</p>
                    </div>
                    <div>
                        <p>****</p>
                        <p>****</p>
                        <p>****</p>
                        <p>{{ user.status }}</p>
                        <p>{{ user.email }}</p>
                        <p>{{ user.phoneNumber }}</p>
                        <p>{{ user.language }}</p>
                        <p>****</p>
                        <p>****</p>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h2>Annonces publiées par {{ user.familyName }}</h2>
            <div class="content">
                <div class="box1">
                    <div class="item">
                        <div>

                        </div>
                        <p>Garage - Rue de l’exemple 32, 4000</p>
                    </div>
                </div>
                <div class="box2">
                    <h3>Vous avez des questions ? Contactez {{ user.familyName }}</h3>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button>Envoyer le message</button>
                </div>
            </div>
        </section>

    </div>
</main>
{% endblock %}
