{% extends 'base.html.twig' %}

{% block title %}Hello OwnerProfileController!{% endblock %}

{% block body %}
<main class="owner-detail">
    <div class="container">

        <section class="detail-owner">
            {% include "owner_profile/detail-host.html.twig" %}
        </section>
        
        <section>
            <h2>Annonces publiées par {{ host.familyName }}</h2>

            <div class="content">

                <div class="box1">
                    {% for space in host.owner %}
                    <div class="item">
                        <div class="avatar">
                            <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ space.image.first.imagePath) }}" alt="">
                            {# {{ dump(space.image.first.imagePath) }} #}
                        </div>
                        <p>{{ space }} - Rue {{ space.adresse.first.street }} {{ space.adresse.first.streetNumber }}, {{ space.adresse.first.postalCode }} {{ space.adresse.first.city }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="box2">
                    <h3>Vous avez des questions ? Contactez {{ host.familyName }}</h3>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button>Envoyer le message</button>
                </div>

            </div>
        </section>

        <section class="space-detail__reviews">
            <h1 class="space-detail__info-title">Commentaires pour {{ host.familyName }}</h1>
            <div class="space-detail__reviews-stats">
                
            </div>

            <div class="space-detail__reviews-comments">
                {% for review in host.review %}
                    {# <div>
                        <div>
                            <div class="avatar">
                                <img src="{{ asset('assets/uploads/Archives/Photos/' ~ review.user.id ~ '/Profile/' ~ review.user.image.imagePath) }}" alt="Image de profile">
                            </div>
                            <p class="info">
                                <span>{{ review.user }}</span>
                                <span>{{ review.reviewDate|date('d-m-Y') }}</span>
                            </p>
                            <p class="note">
                                <img src="{{ asset('images/icones/starRate.svg') }}" alt="">
                                {{ review.rating }}
                            </p>
                        </div>
                        <p>{{ review.comment }}</p>
                        <button>signaler</button>
                    </div> #}
                    {{ dump(review) }}           
                {% endfor %}
                {# {{ dump(host.review) }} #}
            </div>
        </section>
    </div>
</main>
{% endblock %}
