{% set routeToPath = {
    'Category': 'app_space_types_delete',
    'Amenities': 'app_space_amenities_delete',
    'Admins': 'admin_role_delete',
} %}

{% set path = routeToPath[type] ?? '' %}
{% set message = 'Are you sure you want to delete this item?'|trans %}

<form method="post" class="utils__category-item" action="{{ path(path, {'id': instance.id}) }}" onsubmit="return confirm('{{ message }}');">
    {% if type == 'Admins' %}
        <span>{{ instance }}</span>
    {% else %}
        <span>{{ instance.getName(app.request.locale) }}</span>
    {% endif %}
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instance.id) }}">
    <button class="btn"><img src="{{ asset('images/icones/admin/cross.svg') }}" alt="Delete"></button>
</form>
