<h2 class="listing__template-step__title">Étape 1 - Détails du bien</h2>

{{ form_row(form.type, {'row_attr': {'class': 'listing__template-step__select'}, 'attr': {'class': 'focus'}}) }}

{{ form_row(form.conditionStatus, {'row_attr': {'class': 'listing__template-step__select'}}) }}

{{ form_row(form.price, {'row_attr': {'class': 'listing__template-step__input'}, 'attr': {'class': 'focus'}}) }}

{{ form_row(form.surface, {'row_attr': {'class': 'listing__template-step__input'}, 'attr': {'class': 'focus'}}) }}


<h2 class="listing__template-step__title">Dimension de l’entrée</h2>

<div class="listing__template-step__group">

    {{ form_row(form.entryWidth, {'row_attr': {'class': 'listing__template-step__input'}}) }}

    {{ form_row(form.entryLength, {'row_attr': {'class': 'listing__template-step__input'}}) }}
    
</div>

{{ form_row(form.floorLevel, {'row_attr': {'class': 'listing__template-step__group-radio'}, 'attr': {'class': 'listing__template-step__radio'}}) }}