<h2 class="listing__template-step__title">Étape 2 - Adresse du bien</h2>

{{ form_row(form.country, {'row_attr': {'class': 'listing__template-step__input'}}) }}

{{ form_row(form.city, {'row_attr': {'class': 'listing__template-step__input'}}) }}

{{ form_row(form.street, {'row_attr': {'class': 'listing__template-step__input'}}) }}

{{ form_row(form.streetNumber, {'row_attr': {'class': 'listing__template-step__input'}}) }}

{{ form_row(form.postalCode, {'row_attr': {'class': 'listing__template-step__input'}}) }}