{% extends 'admin/index.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/admin/analytics.js') }}" defer></script>
<script src="{{ asset('js/admin/show-alert.js') }}" defer></script>
{% endblock %}

{% block content %}
<section class="admin-analytics">

    {{ form_start(formSearchBar, {'attr': {'class': 'admin-analytics-search' }}) }}
        <div class="admin-analytics-search__item">
            {{ form_label(formSearchBar.reference) }}
            <p>
                <button type="submit"><img src="{{ asset('images/icones/global/Loop.svg') }}" alt=""></button>
                {{ form_widget(formSearchBar.reference) }}
            </p>
        </div>

        {{ form_row(formSearchBar.status, {
            'row_attr': {'class': 'admin-analytics-search__item'},
            'attr': {'class': 'admin-analytics-search__input-status'}
        }) }}

        {{ form_row(formSearchBar.category, {
            'row_attr': {'class': 'admin-analytics-search__item'},
            'attr': {'class': 'admin-analytics-search__input-category'}
        }) }}

        <div class="admin-analytics-search__item">
            {{ form_label(formSearchBar.customer) }}
            <p>
                <button type="submit"><img src="{{ asset('images/icones/global/Loop.svg') }}" alt=""></button>
                {{ form_widget(formSearchBar.customer) }}
            </p>
        </div>
    {{ form_end(formSearchBar) }}   
    
    <section class="admin-analytics__items stats-section">
        {% for data in datas %}
            <div class="stats-card">

                <div  class="stats-card__head">
                    <h3 class="stats-card__title">{{ data['name']|capitalize }}</h3>
                </div>

                <div class="stats-card__number">
                    <p>
                        {% if  data['name'] == 'ratings' %}
                            {{ data['nbr']|number_format(2) }}
                        {% else %}
                            {{ data['nbr'] }}
                        {% endif %}

                        {% if data['new'] is defined and data['new'] > 0 %}
                            <span>+ {{ data['new'] }}</span>
                        {% endif %}
                    </p>
                </div>

                <div class="stats-card__foot">
                    <div>
                        {% if data['instances'] is defined %}
                            {% for element in data['instances'] %}
                                {% if data['name'] == 'users' %}
                                    <span>
                                        {% include "components/_avatar.html.twig" with {'instance': element} %}
                                    </span>
                                {% endif %}
                                {% if data['name'] == 'announcements' %}
                                    <span>
                                        {% include "components/_spaceImage.html.twig" with {'element': element} only %}
                                    </span>
                                {% endif %}
                                {% if data['name'] == 'reservations' %}
                                    <span>
                                        {% include "components/_spaceImage.html.twig" with {'element': element.space} only %}
                                    </span>
                                {% endif %}
                                {% if data['name'] == 'comments' %}
                                    <span>
                                        {% include "components/_spaceImage.html.twig" with {'element': element.spaces} only %}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                    </div>
                    {% if data['new'] is defined %}
                    <span>
                        + {{ data['new'] }}
                    </span>
                    {% endif %}
                </div>
            </div>
            
        {% endfor %}
    </section>

    <section class="admin-analytics__section utils-section">

        {% set tabs = [
                {'title': 'Admins'|trans,       'array': entityData['users'],       'form': formNewAdmin,   'name': 'Admins'},
                {'title': 'Category'|trans,     'array': entityData['categories'],  'form': formSpaceType,  'name': 'Category'}, 
                {'title': 'Amenities'|trans,    'array': entityData['amenities'],   'form': formAmenities,  'name': 'Amenities'}
            ] 
        %}

        {% for tab in tabs %}
            <div class="utils__items">
                <div class="utils__head">
                    <h3 class="utils__title">{{ tab['title'] }}</h3>

                    {% include "admin/analytics/form/_form_" ~ tab['name'] ~ ".html.twig" with {'form': tab['form']} only %}

                    <div class="utils__info">
                        <p class="utils__item-count">{{ tab['array']|length }} {{ 'Item'|trans }}{{ tab['array']|length > 1 ? 's' : '' }}</p>
                        <span class="utils__delete-button"><img src="{{ asset('images/icones/admin/cross.svg') }}" alt="button"></span>
                    </div>
                </div>
                
                <div class="utils__content">
                    {% for element in tab['array'] %}

                        {% include "admin/analytics/form/_delete_form.html.twig" with {'instance': element, 'type': tab['name']} only %}

                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </section>
    
</section>
{% endblock content %}