{% extends 'base.html.twig' %}

{% block title %}Accès interdit - Erreur 403{% endblock %}

{% block body %}
    <div class="error">
        <div class="error__container">

            <a href="{{ path('public_home') }}" class="error__header">
                <img src="{{ asset('images/logo_boxtogo.svg') }}" alt="BoxToGo logo">
            </a>

            <div class="error__content">
                <div class="error__content--container">

                    <h1>{{ typeError }}</h1>
                    {% if message %}
                        <p>{{ message }}</p>
                    {% else %}
                        <p>{{ 'You do not have permission to access this page.'|trans }}</p>
                    {% endif %}
                    <a href="{{ path('public_home') }}">{{'Retour à la page d\'accueil'|trans}}</a>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
