{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% set menuItems = ['account', 'address', 'notifications', 'preferences', 'security', 'payments'] %}

{% block body %}
<main class="settings">
    <div class="container">
        <h1 class="titre">Paramètres</h1>

        <nav class="navbar">
            {% for menuItem in menuItems %}
                <a class="button {% if route == 'public_' ~ menuItem %}active{% endif %}" href="{{ path('public_' ~ menuItem, {'id': app.user.id}) }}">{{ menuItem }}</a>
            {% endfor %}
        </nav>

        {% if form is defined %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        {% endif %}
    </div>
    {{ dump() }}
</main>
{% endblock %}
