{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% set menuItems = ['account', 'address', 'notifications', 'preferences', 'security', 'payments'] %}

{% block body %}
<main class="settings">

    <div class="container">
        <h1 class="titre">Paramètres</h1>

        <nav class="navbar">
            {% for menuItem in menuItems %}
                <a class="button {% if route == 'public_' ~ menuItem %}active{% endif %}" href="{{ path('public_' ~ menuItem, {'id': app.user.id}) }}">{{ menuItem }}</a>
            {% endfor %}
        </nav>
        {# {{ dump() }} #}
        {% if form is defined %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        {% endif %}

        {% if route == 'public_security' %}
        <form method="post" action="{{ path('public_settings_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
            <button class="btn">Supprimer le compte</button>
        </form>
        {% endif %}
    </div>

</main>
{% endblock %}
