{% extends 'base.html.twig' %}

{% block title %}Hello ReviewsController!{% endblock %}

{% block body %}
{% if form is defined %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{{ dump() }}
{% endif %}
{% endblock %}
