<div class="space-detail__gallery-header">
    <h1 class="space-detail__gallery-title">{{ spaceCateg }} à louer sur {{ adresse }} - {{ space.surface }} m<sup>2</sup></h1>
    <p class="space-detail__gallery-evaluation">
        <span class="space-detail__gallery-stars">
            {% for i in 1..5 %}
                {% if i < rating %}
                    <img src="{{ asset('images/icones/star-full.svg') }}" alt="">
                {% else %}
                    <img src="{{ asset('images/icones/star-empty.svg') }}" alt="">
                {% endif %}
            {% endfor %}
        </span>
        <span class="space-detail__gallery-reviews">{{ space.review|length > 1 ? space.review|length ~ ' évaluations' : space.review|length ~ ' évaluation' }}</span>
        <span class="space-detail__gallery-ref">REF - {{ space.reference }}</span>
    </p>
</div>

<div class="space-detail__gallery-images">

    <div class="space-detail__gallery-image-item">
        {% if images[0] %}
            <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ images[0]) }}" alt="">
        {% endif %}
    </div>
    {% if  images[1] is defined %}
        <div class="space-detail__gallery-image-item">
            <div>
                <p><img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ images[1]) }}" alt=""></p>
                {% if images[3] is defined %}
                    <p><img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ images[3]) }}" alt=""></p>
                {% endif %}
            </div>
            {% if images[2] is defined %}
            <div>
                <p><img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ images[2]) }}" alt=""></p>
                {% if images[4] is defined %}
                    <p><img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ images[4]) }}" alt=""></p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% endif %}
    <button class="space-detail__gallery-images-btn">
        {% if nbr > 4 %}
            +{{ nbr }} photos
        {% endif %}
    </button>
</div>

<div class="space-detail__gallery-footer">
    <div class="space-detail__gallery__map-content">

        <div class="space-detail__gallery__actions">
            <a href="{{ path('app_reviews', {'id': space.id}) }}">Laisser un commentaires</a>

            <div>
                <button><img src="{{ asset('images/icones/envelope.svg') }}" alt=""></button>
                <button><img src="{{ asset('images/icones/share.svg') }}" alt=""></button>
                <button><img src="{{ asset('images/icones/favorite.svg') }}" alt=""></button>
            </div>
        </div>

        <div class="space-detail__gallery__map">
            <p>{{ space.spaceCateg|capitalize }} <span>- {{ space.host.status|capitalize }} -</span> {{ space.adresse.first|capitalize }}</p>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.626127283953!2d5.552801016138968!3d50.615484399237076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f9ecae988717%3A0xd109734e9db8a544!2sRue%20du%20Perron%203%2C%204000%20Li%C3%A8ge!5e0!3m2!1sfr!2sbe!4v1693183790320!5m2!1sfr!2sbe" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>

    <div class="space-detail__billing">
        <p>Faites votre réservation</p>
        <p><span>{{ space.price }} €</span> Par mois</p>

        {{ form_start(form, {'attr': {'class': 'space-detail__billing-form'}}) }}

            <div class="space-detail__billing-form__container">
                {{ form_row(form.dateStart, {'row_attr': {'class': 'space-detail__billing-input'}}) }}
                {{ form_row(form.dateEnd, {'row_attr': {'class': 'space-detail__billing-input'}}) }}
            </div>

            <button>{{ button_label|default('Commander') }}</button>
        {{ form_end(form) }}

    </div>
</div>