{% extends 'base.html.twig' %}

{% block title %}Hello PropertyDetailsController!{% endblock %}

{% block body %}
<main class="space-detail">
    <div class="container">

        <section>
            <h1>{{ space.spaceCateg|capitalize }} à louer sur {{ space.adresse.first.city|capitalize }} - {{ space.surface }} m<sup>2</sup></h1>
            <div class="gallery">
                {% for gallery in space.image %}
                <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ gallery.imagePath) }}" alt="">
                {% endfor %}
            </div>

            <div class="zone">
                <div class="box1">
                    <div class="buttons">
                        <button>Contacter le propriétaire</button>
                        <button><img src="{{ asset('images/icones/envelope.svg') }}" alt=""></button>
                        <button><img src="{{ asset('images/icones/share.svg') }}" alt=""></button>
                        <button><img src="{{ asset('images/icones/favorite.svg') }}" alt=""></button>
                    </div>

                    <div class="map">
                        <p>{{ space.spaceCateg|capitalize }} - {{ space.user.status|capitalize }} - {{ space.adresse.first|capitalize }}</p>
                        <div></div>
                    </div>
                </div>

                <div class="box2">
    
                </div>
            </div>
        </section>

        <section>
            <h2>Installations du bien </h2>
            <ul>
            {% for equipment in space.equipment.first.spaceEquipments %}
                <li>{{ equipment }}</li>
            {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Description du bien</h2>
            <div>
            {% for content in space.content %}
                <p>{{ content.description }}</p>
            {% endfor %}
            </div>
        </section>

        <section>
            <h2>Faites connaissance avec votre hôte</h2>
            <div class="content">
                <a href="{{ path('app_owner_profile', {'id': space.user.id}) }}" class="avatar">
                    
                </a>
                <article>
                    <h3><a href="{{ path('app_owner_profile', {'id': space.user.id}) }}">{{ space.user }}</a></h3>
                    <div>
                        
                    </div>
                </article>
                <article>
                    <div>
                        <p>Notes globale :</p>
                        <p>Nombres d’évaluations :</p>
                        <p>Années d’expérience :</p>
                        <p>Statut :</p>
                        <p>Email :</p>
                        <p>Téléphone :</p>
                        <p>Langues :</p>
                        <p>Taux de réponse :</p>
                        <p>Délai de réponse :</p>
                    </div>
                    <div>
                        <p>****</p>
                        <p>****</p>
                        <p>****</p>
                        <p>{{ space.user.status }}</p>
                        <p>{{ space.user.email }}</p>
                        <p>{{ space.user.phoneNumber }}</p>
                        <p>{{ space.user.language }}</p>
                        <p>****</p>
                        <p>****</p>
                    </div>
                </article>
            </div>
        </section>

    </div>
</main>
{% endblock %}
