<section class="listing-form__step">

    <h2 class="listing-form__title">Étape 5 - Informations sur le propriétaire</h2>

    <button class="listing-form__btn--prev">Précédant</button>

    <div class="listing-form__item">
        {{ form_label(form.language, 'Quelle langue préférez-vous utiliser ?'|trans, {'label_attr': {'class': 'listing-form__label'}}) }}
        {{ form_widget(form.language, {'attr': {'class': 'listing-form__input'}}) }}
    </div>

    {# <div class="listing-form__item">
        {{ form_label(form.title, 'Donner un titre à votre annonce ?'|trans, {'label_attr': {'class': 'listing-form__label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'listing-form__input'}}) }}
    </div>

    <div class="listing-form__item">
        {{ form_label(form.Description, 'Donner un description à votre annonce ?'|trans, {'label_attr': {'class': 'listing-form__label'}}) }}
        {{ form_widget(form.Description, {'attr': {'class': 'listing-form__input'}}) }}
    </div> #}

</section>