{% if forms is defined %}
{{ form_start(forms, {
    'attr': {'class': 'listing__template-steps'},
}) }}
    
    <div class="listing__template-step show">
        {% include "listing/steps/_form_step1.html.twig" with {'form': forms.space } only %}
    </div>

    <div class="listing__template-step">
        {% include "listing/steps/_form_step2.html.twig" with {'form': forms.adresse } only %}
    </div>
    
    <div class="listing__template-step">
        {% include "listing/steps/_form_step3.html.twig" with {'form': forms.amenity } only %}
    </div>
    
    <div class="listing__template-step">
        {% include "listing/steps/_form_step4.html.twig" with {'form': forms.image } only %}
    </div>
    
    <div class="listing__template-step">
        {% include "listing/steps/_form_step5.html.twig" with {'form': forms.content } only %}
    </div>
    
    {{ form_widget(forms) }}

    <footer class="listing__template__footer">
        <div class="listing__template__footer-container">
            <p id="myNextButton">
                <span>{{ 'next'|trans }}</span>
                <img src="{{ asset('images/icones/arrow.svg') }}" alt="Icone next">
            </p>
            {# <button class="btn">{{ button_label|default('Save') }}</button> #}
        </div>
    </footer>

{{ form_end(forms) }}
{% endif %}