{% for space in pagination ? pagination : [] %}

    {% set camera = null %}
    {% set locker = null %}
    {% set alarm = null %}

    {% if space.amenities.first %}
        {% for item in space.amenities.first.amenities %}
            {% if item == "Surveillance Cameras" %}
                {% set camera = 'equipped' %}
            {% endif %}

            {% if item == "Lockers" %}
                {% set locker = 'equipped' %}
            {% endif %}
            
            {% if item == "Alarm" %}
                {% set alarm = 'equipped' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="card-space">
        <div class="card-space__container">

            <div class="card-space__image-zone">
                <div class="card-space__image-container">

                    <a href="{{ path('public_property_details', {'id': space.id}) }}" class="card-space__image-link">
                        {% if space.image.first %}
                            <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ space.image.first.imagePath) }}" alt="">
                        {% endif %}
                    </a>
                    
                    {% if app.user %}
                        {% set class = "card-space__icon-btn" %}
                        
                        {% for myFavori in app.user.favorites %}

                            {% if myFavori.spaces.id == space.id %}

                                {% set class = "card-space__icon-btn active" %}

                            {% endif %}
                            
                        {% endfor %}

                        <button class="{{ class }}" data-user-id="{{ app.user.id }}" data-space-id="{{ space.id }}"></button>
                    {% endif %}

                </div>
            </div>

            {# {% if route == 'app_favorites' %}
            <article class="card-space__info">
                <span>{{ space }} - </span>
                <span>{{ space.adresse }}</span>
            </article>
            {% else %} #}
            <article class="card-space__info">
                <div class="card-space__info-container">

                    <section class="card-space__info-group">
                        <div class="card-space__info-content">

                            <p><a href="{{ path('public_property_details', {'id': space.id}) }}">{{ space.type }}</a></p>
                            <p>{{ space.adresse.city }}</p>
                            <p>{{ space.ownedByUser.status }}</p>
                            <p>{{ space.surface }} m<sup>2</sup></p>
                            <p>{{ space.price }} €</p>

                        </div>
                    </section>
                    
                    <section class="card-space__info-group">
                        <div class="card-space__info-content">

                            <div class="card-space__icons">
                                <img src="{{ asset('images/icones/svg/4.svg') }}" alt="" {% if camera is not null %}class="equipped"{% endif %}>
                                <img src="{{ asset('images/icones/svg/1.svg') }}" alt="" {% if locker is not null %}class="equipped"{% endif %}>
                                <img src="{{ asset('images/icones/svg/13.svg') }}" alt="" {% if alarm is not null %}class="equipped"{% endif %}>
                            </div>

                            <P>{{ space.status }}</P>

                            <P class="card-space__rating">
                                {% if space.calculateAverageRating %}
                                <img src="{{ asset('images/icones/starRate.svg') }}" alt="">
                                {{ space.calculateAverageRating }}
                                {% endif %}
                            </P>

                        </div>
                    </section>
                </div>
            </article>
            {# {% endif %} #}
        </div>
    </div>
{% endfor %}