<div class="card-ticket">
    <div class="card-ticket__content">

        <div class="card-ticket__inner">
            <!-- Première partie : Image et informations sur l'espace -->
            <div class="card-ticket__section">
                <div class="card-ticket__media">
                    <a href="{{ path('public_property_details', {'id': space.id}) }}" class="card-ticket__image-link">
                        <img src="{{ asset('assets/uploads/' ~ space.file ~ '/' ~ space.image.first.imagePath) }}" alt="Description de l'image" class="card-ticket__image">
                    </a>
                </div>
                
                <div class="card-ticket__info">
                    <p class="card-ticket__title">{{ space.content.titleFr|capitalize }}</p>
                    <p class="card-ticket__address">{{ space }} {{ space.adresse.first }} </p>
                    <p class="card-ticket__price">{{ space.price }} €</p>
                    <p class="card-ticket__surface">{{ space.surface }} m<sup>2</sup> </p>
                </div>
                
                <div class="card-ticket__status">
                    <p>{{ space.status|capitalize }}</p>
                </div>
            </div>
            
            <!-- Deuxième partie : Lien pour modifier -->
            <div class="card-ticket__section">
                <div class="card-ticket__action">
                    <a href="{{ path('owner_edit', {'id': space.id}) }}" class="card-ticket__edit-link">Modifier</a>
                </div>
            </div>
            
        </div>
        
        <!-- Troisième partie : Numéro de réservation -->
        <p class="card-ticket__reservation-number">Numéro de réservation : #############</p>
        
    </div>
</div>  