<div class="resa-card">
    <header class="resa-card__header">
        <div class="resa-card__profile">
            <div class="resa-card__image">
                {% include "components/_avatar.html.twig" with {'instance': data.space.ownedByUser} %}
            </div>
            <div>
                <p class="resa-card__name">{{ data.space.ownedByUser.familyName|capitalize }} {{ data.space.ownedByUser.givenName|capitalize }}</p>
                <p class="resa-card__address">{{ data.space.adresse }}</p>
            </div>
            <div class="resa-card__ref">
                REF : {{ data.reference }}
            </div>
        </div>
        
        <div class="resa-card__date-container">
            <div class="resa-card__date-item">
                <p class="resa-card__date-label">Debut</p>
                
                <div class="resa-card__date-values">
                    <span class="resa-card__day">{{ data.dateStart|date('d') }}</span>
                    <div class="resa-card__month-year">
                        <span class="resa-card__month">{{ data.dateStart|date('M') }}</span>
                        <span class="resa-card__year">{{ data.dateStart|date('Y') }}</span>
                    </div>
                </div>
            </div>
            
            <div class="resa-card__date-item">
                <p class="resa-card__date-label">Fin</p>

                <div class="resa-card__date-values">
                    <span class="resa-card__day">{{ data.dateEnd|date('d') }}</span>
                    <div class="resa-card__month-year">
                        <span class="resa-card__month">{{ data.dateEnd|date('M') }}</span>
                        <span class="resa-card__year">{{ data.dateEnd|date('Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main class="resa-card__info">
        <div class="resa-card__info-text">
            <h3 class="resa-card__info-label">Client</h3>
            <p class="resa-card__info-content">{{ data.user.familyName|capitalize }} {{ data.user.givenName|capitalize }}</p>
            <h3 class="resa-card__info-label">Adresse</h3>
            <p class="resa-card__info-content">{{ data.user.adresse }}</p>
        </div>

        <div class="resa-card__info-text">
            <h3 class="resa-card__info-label">Space</h3>
            <p class="resa-card__info-content">{{ data.space.type|capitalize }}</p>
            <h3 class="resa-card__info-label">Adresse</h3>
            <p class="resa-card__info-content">{{ data.space.adresse }}</p>
        </div>
        
        <div class="resa-card__info-image">
            {% include "components/_spaceImage.html.twig" with {'element': data.space} %}
        </div>
    </main>
    
    <footer class="resa-card__footer">
        <p class="resa-card__status">{{ data.status|capitalize }}</p>
        <p class="resa-card__price">PRICE : <span>{{ data.price }} €</span></p>
    </footer>
</div>