<div class="detail-host-card">

    <h1 class="detail-host-card__title">Faites connaissance avec {{ name }}</h1>

    <div class="detail-host-card__content">

        <a href="{{ path('profile_page', {'id': instance.id}) }}" class="detail-host-card__link">
            {% include "components/_avatar.html.twig" with {'instance': instance} only %}
            {# <img src="{{ asset('assets/uploads/Archives/Photos/' ~ instance.id ~ '/Profile/' ~ instance.image.imagePath) }}" alt="Image de profile"> #}
        </a>

        <article class="detail-host-card__profile">

            <h3 class="detail-host-card__profile--title">
                <a href="{{ path('profile_page', {'id': instance.id}) }}">{{ instance.familyName|capitalize }}  {{ instance.givenName|capitalize }}</a>
            </h3>

            <div class="detail-host-card__profile--desciption">
                {% if instance.content is not null %}
                    {{ instance.content.getDescriptionBasedOnLanguage(instance.language)|capitalize }}
                {% endif %}
            </div>

        </article>

        <article class="detail-host-card__details">

            <div class="detail-host-card__details--labels">

                <p>Notes globale :</p>
                <p>Nombres d’évaluations :</p>
                <p>Nombres de bien :</p>
                <p>Années d’expérience :</p>
                <p>Statut :</p>
                <p>Email :</p>
                <p>Téléphone :</p>
                <p>Langues :</p>
                <p>Taux de réponse :</p>
                <p>Délai de réponse :</p>

            </div>

            <div class="detail-host-card__details--values">

                <p>{{ instance.calculateTotalAndAverageRatings['averageRating'] }}</p>
                <p>{{ instance.calculateTotalAndAverageRatings['totalReviews'] }}</p>
                <p>{{ instance.owners|length }}</p>
                {% set duration = instance.calculateYearsAndMonthsSinceRegistration %}
                <p>{{ duration[0] }} {{ duration[1] }}</p>
                <p>{{ instance.status }}</p>
                <p>{{ instance.email }}</p>
                <p>{{ instance.phoneNumber }}</p>
                <p>{{ instance.language }}</p>

            </div>

        </article>

    </div>

</div>
