<div class="header-main__searchbar-container search-bar">

    <div class="header-main__searchbar__minimal search-bar--minimal">
        <button type="button">Types de stockage</button>
        <button type="button">Dates</button>
        <button type="button">Code postal</button>

        <form action="{{ path('public_home') }}" method="get">
            <input type="text" name="search" placeholder="Votre recherche">
            <button type="submit" name="action" value="search">
                <img src="{{ asset('images/icones/loupe.svg') }}" alt="Icone d'une loupe">
            </button>
        </form>
    </div>

    <a href="{{ path('public_listing') }}" class="search-bar--publish-link" >
        {{ 'Post my listing on BoxToGo'|trans }}
    </a>

    {# <div class="header-main__searchbar__advanced search-bar--advanced">

    </div> #}
    
</div>
{# {{ dump(app.user) }} #}