<div class="header-alt">
    <div class="header-alt__container">

        <div class="header-alt__logo">
            {% include "layout/_logo.html.twig" %}
        </div>

        <nav class="header-alt__nav">
            {% if 'ROLE_OWNER' in app.user.roles %}
            <a href="{{ path('dashboard_host_annonces') }}">{{ 'Listings'|trans }}</a>
            {% endif %}
            <a href="{{ path('ROLE_OWNER' in app.user.roles ? 'dashboard_host_reservations' : 'app_dashboard_user') }}">{{ 'Reservations'|trans }}</a>
            <a href="{{ path('app_talks') }}">{{ 'Messages'|trans }}</a>
            <a href="#">{{ 'Notifications'|trans }}</a>
            <a href="{{ path('app_favorites') }}">{{ 'Favorites'|trans }}</a>
            <a href="{{ path('public_listing') }}">{{ 'Publish a Listing'|trans }}</a>
        </nav>

        <div class="header-alt__options">
            <a href="{{ path('public_account', {'id': app.user.id}) }}" class="{% if route == 'public_account' %}active{% endif %}">{{ 'Paramètres'|trans }}</a>

            <div class="header-alt__option-lang" id="btn-lang">
                <img src="{{ asset('images/icones/langue.svg') }}" alt="Language selector">
                <ul class="lang-list">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <li class="lang-item">
                                <a href="{{ path('app_change_language', {'locale': locale}) }}">{{ locale }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
</div>
