{% set menuItemsBase = {
    'Réservations' : 'ROLE_OWNER' in app.user.roles ? 'owner_reservations' : 'public_user_reservations',
    'Messages' : 'app_messages',
    'Notifications' : 'app_messages',
    'Favoris' : 'app_favorites',
    'Publier une annonce' : 'public_listing',
} %}

{% set ownerItems = 'ROLE_OWNER' in app.user.roles ? {'Annonces': 'owner_annonces'} : {} %}

{% set menuItems = ownerItems|merge(menuItemsBase) %}

<div class="header-alt">
    <div class="header-alt__container">

        <div class="header-alt__branding">
            <a href="{{ path('public_home') }}" class="header-alt__logo">
                <img src="{{ asset('images/logo_boxtogo.svg') }}" alt="BoxToGo logo">
            </a>

            {% if app.user.admin is defined %}
                <div class="header-alt__switch">
                    <a href="" class="active">Public Site</a>
                    <a href="">Admin Interface</a>
                </div>
            {% endif %}
        </div>

        <nav class="header-alt__nav">
            {% for name, pathKey in menuItems %}
                <a href="{{ path(pathKey) }}" class="{% if route == pathKey %}active{% endif %}">{{ name }}</a>
            {% endfor %}
        </nav>

        <div class="header-alt__options">
            <a href="{{ path('public_account', {'id': app.user.id}) }}" class="{% if route == 'public_account' %}active{% endif %}">Paramètres</a>
            <div class="header-alt__option-lang" id="btn-lang">
                <img src="{{ asset('images/icones/langue.svg') }}" alt="Language selector">
                <ul>
                    <li>
                        <a href="">Français</a>
                    </li>
                    <li>
                        <a href="">Anglais</a>
                    </li>
                    <li>
                        <a href="">Néerlandais</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
