<div class="header-main" id="masthead">
    <div class="header-main__container">

        {% include "layout/_logo.html.twig" %}

        {% include "layout/_search-bar.html.twig" %}

        <div class="header-main__actions">

            <div class="header-main__action--lang" id="btn-dropdown">

                <div class="lang-selector" id="btn-lang">
                    <img src="{{ asset('images/icones/langue.svg') }}" alt="Language selector">
                </div>

                <ul class="lang-list">
                    {% for locale in locales %}
                        {% if locale != app.request.locale %}
                            <li class="lang-item">
                                <a href="{{ path('app_change_language', {'locale': locale}) }}">{{ locale }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>

            <div class="header-main__action--alert">
                <a href="#">
                    <img src="{{ asset('images/icones/alert.svg') }}" alt="Notification icon">
                </a>
            </div>

            <div class="header-main__action--user" id="btn-dropdown">
                <div class="user-selector">
                    {% if app.user %}
                        {% if app.user.image %}
                            <img src="{{ asset('assets/uploads/Archives/Photos/' ~ app.user.id ~ '/Profile/' ~ app.user.image.imagePath) }}" alt="Image de profile" id="btn-user">
                        {% else %}
                            <img src="{{ asset('images/icones/icone-menu.svg') }}" alt="User menu" id="btn-user">
                        {% endif %}
                    {% else %}
                    <a href="{{ path("app_login") }}" class="login-link">{{ 'Log in'|trans }}</a>
                    {% endif %}
                </div>

                {% if app.user %}
                <ul class="menu-dropdown">

                    <li class="menu-dropdown--personal">
                        <a href="{{ path('app_talks') }}">{{ 'Messages'|trans }}</a>
                        <a href="">{{ 'Notifications'|trans }}</a>
                        {% if 'ROLE_OWNER' in app.user.roles %}
                            <a href="{{ path('dashboard_host_annonces') }}">{{ 'Dashboard'|trans }}</a>
                        {% else %}
                            <a href="{{ path('app_dashboard_user') }}">{{ 'Reservations'|trans }}</a>
                        {% endif %}
                    </li>

                    <li class="menu-dropdown--settings">
                        <a href="{{ path('app_favorites', {'id': app.user.id}) }}">{{ 'Favorites'|trans }}</a>
                        <a href="{{ path('public_account', {'id': app.user.id}) }}">{{ 'Settings'|trans }}</a>
                        <a href="">{{ 'Publish my listing'|trans }}</a>

                        <form>
                            <button class="active">{{ 'Light theme'|trans }}</button>
                            <button>{{ 'Dark theme'|trans }}</button>
                        </form>
                    </li>

                    <li class="menu-dropdown--logout">
                        <a href="{{ path('app_logout') }}">{{ 'Log out'|trans }}</a>
                    </li>

                </ul>
                {% endif %}
            </div>

        </div> 

    </div>
</div>
