<header class="header masthead"  id="masthead">

    <div class="header__container masthead__container">

        <div class="masthead__section--logo">
            <div class="masthead-logo">
                <a href="{{ path('public_home') }}">
                    <img src="{{ asset('images/logo_boxtogo.svg') }}" alt="BoxToGo logo">
                </a>
        
                {% if app.user.admin is defined %}
                    <div class="masthead-logo__sub-section">
                        <a href="" class="active">Public Site</a>
                        <a href="">Admin Interface</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <nav class="masthead__section--nav">
            <div class="masthead-nav">
                <div class="masthead-nav__minimal-search-bar">
                    <button>Types de stockage</button>
                    <button>Dates</button>
                    <button>Code postal</button>
                    <form action="">
                        <input type="text" placeholder="Votre recherche">
                        <img src="{{ asset('images/icones/loupe.svg') }}" alt="Icone d'une loupe">
                    </form>
                </div>
                
                <a href="{{ path('public_listing') }}" class="masthead-nav__publish-link">
                    {{ 'Post my listing on BoxToGo'|trans }}
                </a>
                
                {# <form action="" class="masthead-nav__full-search-bar">
                    
                </form> #}
            </div>
        </nav>        

        <div class="masthead__section--action">
            <div class="masthead-action">
                <div class="masthead-action__button-lang" id="btn-dropdown">
                    <img src="{{ asset('images/icones/langue.svg') }}" alt="Language selector">
                    <ul>
                        <li>
                            <a href="">Français</a>
                        </li>
                        <li>
                            <a href="">Anglais</a>
                        </li>
                        <li>
                            <a href="">Néerlandais</a>
                        </li>
                    </ul>
                </div>
    
                {% if app.user %}
                <div class="masthead-action__button-alert">
                    <img src="{{ asset('images/icones/alert.svg') }}" alt="icone de notification">
                </div>
                {% endif %}
    
                <div class="masthead-action__button-menu" id="btn-dropdown">
                    {% if app.user %}
                        <img src="{{ asset('images/icones/icone-menu.svg') }}" alt="User menu" id="btn-connect">
                        <ul class="menu-dropdown">

                            <li class="menu-dropdown--personal">
                                <a href="">Messages</a>
                                <a href="">Notifications</a>
                                <a href="">Tableau de board</a>
                            </li>

                            <li class="menu-dropdown--settings">
                                <a href="">Favoris</a>
                                <a href="{{ path('public_account', {'id': app.user.id}) }}">Paramètres</a>
                                <a href="">Publier mon annonce</a>

                                <form>
                                    <button class="active">Thème claire</button>
                                    <button>Thème sombre</button>
                                </form>
                            </li>

                            <li class="menu-dropdown--logout">
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>

                        </ul>
                    {% else %}
                        <a href="{{ path("app_login") }}" class="header__button__user-login">{{ 'Log in'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>

</header>
